.footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: url(./images/footerbg.jpg);
  background-size: cover;
}

.otherPages ul {
  display: inline-flex;
  list-style: none;
  color: #fff;
  border-right: 2px solid #fff;
  padding-right: 30px;
}
.otherPages ul li {
  text-align: center;
}

.otherPages a {
  text-decoration: none;
  color: #888;
}

.secondRow {
  display: flex;
  justify-content: center;
}
.michelin h3 {
  margin-bottom: 0;
  font-family: sans-serif;
}

.michelin,
h2,
.following {
  margin: 0px 20px 0px 20px;
}

.following {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.secondRow h2 {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 40px;
}

#logofooter img {
  width: 100px;
  height: 100px;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 800px;
}
