* {
  /*margin and height should all be included in width and height*/
  margin: 0;
  padding: 0;
  font-family: 'Inknut Antiqua', serif;
}

/*create an overlay*/
header {
  height: 100vh;
}
header video {
  opacity: 80%;
}

/*make it fullscreen*/
.video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

#mainlogo a {
  text-decoration: none;
  border-bottom-style: none;
}
#mainlogo h2 {
  color: #333333;
}

/*set content for the menubar, including color, alignment, ans always 150px left, right-indent*/
.menu-bar {
  display: flex;
  background: rgba(189, 20, 20, 1);
  justify-content: space-around;
  padding-right: 150px;
  padding-left: 150px;
  padding-top: 15px;
}

/*make the menu bar display horizontally and remove the disc of the ul*/
.menu-bar ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

/*change the logo*/

#mainlogo {
  margin-right: 40px;
}
#mainlogo h2 {
  font-family: 'Oleo Script Swash Caps', cursive;
  margin-top: 7px;

  width: 100%;
  text-align: center;
}

/*change the color of ul and remove underline from link*/

.menu-bar ul li a {
  color: #f4eadc;
  font-size: 18px;
  text-decoration: none;
  font-weight: bolder;
}

/*change size of li and the position of li's text*/
.menu-bar ul li {
  width: 120px;
  margin: 10px;
  text-align: center;
}

/* make the effects when hovering mouse into the page name, it'll change font color*/
.menu-bar ul li a:hover {
  color: #df9d09;
}

/*hide the submenu when product isn't hovered*/
.sub-menu-1 {
  display: none;
  width: 300px;
}

/*when product is hovered, show the submenu*/
.menu-bar ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  margin-top: 0px;
  background: rgba(189, 20, 20, 1);
  border-radius: 5px;
  color: #df9d09;
}

/*set the position and fontfamily type for the message*/
.welcome-msg {
  position: relative;
  text-align: center;
  margin-top: 150px;
}
/* create the burger menu*/

/*set the font size, weight and color for the message*/
.welcome-msg h1 {
  font-size: 70px;
  font-weight: 100;
  color: #fff;
  margin-bottom: 50px;
  font-family: 'Oleo Script Swash Caps', cursive;
}

.welcome-msg .btn {
  background: rgba(189, 20, 20, 1);
  color: #f4eadc;
}

/*set the font size, weight and color for the btn when it's hovered*/
.welcome-msg .btn:hover {
  color: #df9d09;
}

/*setting the title for all body, title will use font Shirkhand exclusively*/

.stitchTitle {
  /*setting for the block*/
  background-color: rgba(189, 20, 20, 1);
  text-align: center;
  width: 220px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 100px;
  /*setting for the text*/
  font-size: 30px;
  color: white;
  font-family: 'Shrikhand', cursive;
  text-align: center;
  padding-top: 10px;
  text-transform: uppercase;
  /*setting for the dashed border*/
  box-shadow: 0px 0px 0px 15px #f56e43;
  border: 3px dashed white;
  border-radius: 2px;
}

/*body of ourStory, always 100px separate with the above and below, 200px for left and right*/
.ourStory {
  margin: 100px 200px 100px 200px;
  background: #d9b787;
}

.ourStory .stitchTitle {
  margin-bottom: 50px;
}

/*set text for the title of ourStory, always bottom: 50px*/

#wrapperblock {
  display: flex;
  padding: 0px 50px 50px 50px;
}

#wrapperblock #left-hand {
  text-align: center;
  padding-right: 100px;
}

#left-hand h1 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#left-hand p {
  font-size: 20px;
}

.right-hand img {
  height: 300px;
  display: inline-block;
  box-shadow: 2px 2px 20px #372f1b;
}

/*Block featured products*/
.featuredProducts {
  width: 100vw;
  margin-bottom: 100px;
}
/*set title*/
.featuredProducts .stitchTitle {
  width: 400px;
}
/*set width for featured products block*/
.wrapperftProducts {
  height: 400px;
  display: flex;
}

/*set the column of each featured product*/
.col {
  height: 100%;
  flex: 1;
  color: #fff;
  box-sizing: border-box;
  padding: 25px;
  /*this helps to set the image fix*/
  position: relative;
  /*this helps the transition more smoothly*/
  transition: 0.6s;
}

/*set the fontsize,fontweight title of each featured product*/
h2 {
  text-align: center;
}

/*set the caption, font-size of each featured product*/
.caption {
  display: none;
  max-width: 230px;
  margin: 28px;
  display: none;
}
/*set the button in each featured product*/
.caption .btn-outline-info {
  background: #c22e14;
  color: #fff;
}
.caption .btn-outline-info:hover {
  color: #df9d09;
}

/*set the image in each featured product*/
.col img {
  width: 250px;
  height: 250px;
  position: absolute;
  right: 0;
  bottom: 0;
  border-top-left-radius: 100%;
  box-shadow: 2px 2px 20px #372f1b;
}
/*set hover effect on each image so that it'll expand when the mouse hovers to it*/
.col:hover {
  flex-grow: 2.5;
}

/*when the mouse hover to any col, the caption will display*/
.col:hover .caption {
  display: block;
}

/*when the mouse hover to any col, the title will display on the left instead of center */
.col:hover h2 {
  text-align: left;
}

#featuredproduct1 {
  background: url(images/bgftproduct1.jpg);
}
#featuredproduct2 {
  background: url(images/bgftproduct2.jpg);
}
#featuredproduct3 {
  background: url(images/bgftproduct3.jpg);
}

#featuredproduct4 {
  background: url(images/bgftproduct4.jpg);
}

/*Testimonial Block*/

.testimonials {
  margin: 100px 200px 100px 200px;
  background: rgba(251, 218, 147, 0.55);
}

.testimonials .stitchTitle {
  width: 500px;
  margin-bottom: 50px;
}

.wrapperRow {
  display: flex;
}

.rightTestimonial,
.leftTestimonial {
  width: 50%;
  height: 50%;
  text-align: justify;
  margin: 0px 30px 40px 30px;
  background-color: rgba(159, 193, 166, 1);
  border: rgba(251, 248, 243, 1) 10px solid;
}

.rightTestimonial p,
.leftTestimonial p {
  padding: 10px 30px 0px 30px;
  font-size: 20px;
}

.wrapperRow img {
  width: 40px;
  border-radius: 50%;
}

.wrapperImgTestimo {
  text-align: center;
  margin-bottom: 20px;
}

.wrapperImgTestimo h3 {
  margin-top: 10px;
  font-size: 18px;
}

.fa-quote-right {
  float: right;
}

/*Our cupcakes are healthy for everyone*/
.Certification {
  margin: 100px 200px 100px 200px;
  display: flex;
  justify-content: space-around;
}

.cert {
  width: 160px;
}

.cert img {
  width: 140px;
  height: 110px;
  cursor: pointer;
  filter: grayscale(100%);
}
.cert img:hover {
  filter: grayscale(0%);
}

/*Footer*/

.footer {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  background: url(./images/footerbg.jpg);
  background-size: cover;
}

.otherPages ul {
  display: inline-flex;
  list-style: none;
  color: #372f1b;
  padding-right: 20px;
  padding-bottom: 15px;
}
.otherPages ul li {
  justify-content: space-around;
}

.otherPages a {
  font-size: 18px;
  text-decoration: none;
  color: #372f1b;
}

.secondRow {
  display: flex;
  justify-content: center;
}
.michelin h3 {
  margin-bottom: 0;
  font-size: 35px;
}

.michelin,
h2,
.following {
  margin: 0px 20px 0px 20px;
}

.following {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.secondRow h2 {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 40px;
}

.wrapperAppsIcon i {
  font-size: 20px;
  padding: 5px 5px 20px 5px;
  color: #372f1b;
}

hr {
  margin-right: 200px;
  margin-left: 200px;
}

/*subscription button*/
.subscription {
  display: flex;
}
.subscription input {
  border: none;
  margin-left: 3px;
}
.subscription button:hover {
  background: #c22e14;
  color: #f4eadc;
  transition: 0.5s;
}
.input-group-append {
  color: #372f1b;
  height: 35px;
  width: 65px;
  border: none;
  background: #fff;
  border-radius: 5px;
}

/*All Product Pages*/

.allproducts {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.allproducts .stitchTitle {
  width: 400px;
  font-weight: lighter;
  margin-top: 50px;
  margin-bottom: 70px;
  box-shadow: 0px 0px 0px 10px #f56e43;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}
.row {
  display: flex;
  align-items: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
#allproductSort {
  text-align: right;
  margin-right: 75px;
  margin-bottom: 20px;
}

select:focus {
  outline: none;
}
.productItem {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;

  transition: transform 0.5s;
}

.productItem img {
  width: 100%;
}

.page-btn {
  margin: 0 auto 80px;
  margin-left: 60px;
}

.page-btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.page-btn span:hover {
  background: #ff523b;
  color: #fff;
}

/*Responsive Parts*/
@media screen and (max-width: 768px) {
  .menu-bar {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .menu-bar ul {
    height: 90vh;
    right: 0;
    top: 13vh;
    background: rgba(189, 20, 20, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  #mainlogo {
    text-align: center;
  }
  .menu-bar ul li:hover .sub-menu-1 {
    display: none;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  .otherPages {
    display: flex;
    flex-direction: column;
  }

  .secondRow {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .secondRow .michelin h2 {
    width: 40%;
  }
}

/*---------------- contact page ---------------*/
.contact-page {
  min-height: 800px;
  font-family: 'Patrick Hand';
  letter-spacing: 1px;
  font-size: 15px;
  max-width: 80%;
  margin: auto;
}

.contact-page .col {
  height: 100%;
  flex: 1;
  color: #333333;
  box-sizing: border-box;
  padding: 25px;
  /*this helps to set the image fix*/
  position: relative;
  /*this helps the transition more smoothly*/
  transition: 0.6s;
}

#contact-form form input {
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}

.invalid-feedback {
  font-size: 15px;
  font-style: italic;
  padding-top: 0.5em;
}
.block {
  margin: auto;
  max-width: 80%;
  margin-top: 50px;
}

.col-2x {
  flex-grow: 2 !important;
}

@media only screen and (max-width: 1260px) {
  .contact-page {
    font-size: 18px;
  }
}
.contact-page .title {
  height: 50px;
  margin: 50px;
  font-size: 50px;
}
.contact-page .stitchTitle {
  width: 300px;
  margin-bottom: 50px;
}
.content-contact-form {
  margin-top: 50px;
  text-align: center;
  word-spacing: 2px;
}

.content-contact-form p {
  margin: 15px;
}

.form-group-col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}

#city {
  padding-top: 0px;
}

@media only screen and (max-width: 1200px) {
  .form-group-col {
    flex-direction: column;
  }
}

.contact-row {
  display: flex;
  flex-direction: row;
  flex: 0 0 100%;
  justify-content: space-between;
}

.contact-col {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
}

.contact-row2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.contact-row4 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

@media only screen and (max-width: 720px) {
  .contact-row {
    flex-direction: column;
  }
}
@media only screen and (max-width: 1140px) {
  .contact-row2 {
    flex-direction: column;
  }
}

.form-check {
  margin: 0 15px;
}

.btn-danger,
.btn-secondary {
  height: 40px;
  width: 100px;
  margin: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 0;
}
.btn-primary {
  background-color: #855f69;
}
.contact-btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#feedback {
  display: none;
}

#orderNumber {
  display: block;
}

form select {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  border: 1px solid #ccc;
}

#contact-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 0 100%;
  flex-wrap: wrap;
}
